<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true" >

	<display-name></display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>



	<context-param>
		<param-name>upload folder</param-name>
		<param-value>attachment</param-value>
	</context-param>
	<context-param>
		<param-name>allowed file type</param-name>
		<param-value>.gif,.jpg,.bmp</param-value>
	</context-param>




	<env-entry>
		<env-entry-name>hello</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>Hello,Welcome to thie JavaEE Resource Injection.</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>i</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>30</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>persons</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>Helloween,Cobain,Roses,Axl</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>hello1</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>Hello,Welcome to thie JavaEE Resource Injection.</env-entry-value>
	</env-entry>





	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.FirstServlet</servlet-class>
		<init-param>
			<param-name>message</param-name>
			<param-value>welcome to FirstServlet</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>RequestServlet</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.RequestServlet</servlet-class>
		<init-param>
			<param-name>version</param-name>
			<param-value>1.6</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>IdentityServlet</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.IdentityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InitParamServlet</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.InitParamServlet</servlet-class>
		<init-param>
			<param-name>kevin</param-name>
			<param-value>kevin</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ContextParamServlet</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.ContextParamServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InjectionServlet</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.InjectionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InjectionServlet01</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.InjectionServlet01</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.PostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProgressUploadServlet</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.upload.ProgressUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LifeCycleServlet</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.LifeCycleServlet</servlet-class>
		<init-param>
			<param-name>startPoint</param-name>
			<param-value>1600</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>LifeCycleServlet01</servlet-name>
		<servlet-class>com.helloweenvsfei.servlet.LifeCycleServlet01</servlet-class>
		<init-param>
			<param-name>startPoint</param-name>
			<param-value>1600</param-value>
		</init-param>
	</servlet>
  <servlet>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>com.helloweenvsfei.servlet.ForwardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.helloweenvsfei.servlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RedirectServlet1</servlet-name>
    <servlet-class>com.helloweenvsfei.servlet.RedirectServlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThreadSafetyServlet</servlet-name>
    <servlet-class>com.helloweenvsfei.servlet.ThreadSafetyServlet</servlet-class>
  </servlet>



















	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/servlet/FirstServlet</url-pattern>
		<url-pattern>/servlet/FirstServlet.asp</url-pattern>
		<url-pattern>/servlet/FirstServlet.jsp</url-pattern>
		<url-pattern>/servlet/FirstServlet.php</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/servlet/RequestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IdentityServlet</servlet-name>
		<url-pattern>/servlet/IdentityServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitParamServlet</servlet-name>
		<url-pattern>/servlet/InitParamServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContextParamServlet</servlet-name>
		<url-pattern>/servlet/ContextParamServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InjectionServlet</servlet-name>
		<url-pattern>/servlet/InjectionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InjectionServlet01</servlet-name>
		<url-pattern>/servlet/InjectionServlet01</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/servlet/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/servlet/PostServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/servlet/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProgressUploadServlet</servlet-name>
		<url-pattern>/servlet/ProgressUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LifeCycleServlet</servlet-name>
		<url-pattern>/servlet/LifeCycleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LifeCycleServlet01</servlet-name>
		<url-pattern>/servlet/LifeCycleServlet01</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/servlet/ForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/servlet/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectServlet1</servlet-name>
    <url-pattern>/servlet/RedirectServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThreadSafetyServlet</servlet-name>
    <url-pattern>/servlet/ThreadSafetyServlet</url-pattern>
  </servlet-mapping>










</web-app>



