<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  
  <!-- DAO2 物件 -->
  <bean id="dao2Impl" class="com.helloweenvsfei.core.dao.impl.Dao2Impl" /> 

  <!-- Service2 實例  -->
  <bean id="service2" class="com.helloweenvsfei.core.service.impl.Service2Impl" >
    <property name="dao2" ref="dao2Impl" ></property> 
  </bean>
  
  
  
</beans>