<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  
  
  
  
  <!-- 資料庫讀取設定  -->
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
    <property name="driverClassName"  value="com.mysql.jdbc.Driver"                                          />
    <property name="url"              value="jdbc:mysql://localhost:3306/spring?characterEncoding=UTF-8"     />
    <property name="username"         value="root"                                                           />
    <property name="password"         value="19786779"                                                       />
  </bean>
  
  <bean id="personDAO" 
        class="com.helloweenvsfei.dao.dao.impl.PersonDAOImpl"
        depends-on="dataSource"
        init-method="initDatabase" >                           <!-- 初始化方法 -->
    <property name="dataSource" ref="dataSource" ></property>  <!-- 設定資料來源 -->      
  </bean>               
  
  
  
  
  
  
  
  <!-- 
      Spring 使用 DataSourceTransactionManager 作為JDBC 的交易管理者，
                同時把被管理的物件使用 TransactionProxyFactoryBean 設定  
  -->
  <!-- JDBC 交易管理 -->
  <bean id="jdbcTransactionManager" 
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
    <property name="dataSource" ref="dataSource" ></property>
  </bean>
  
  <!-- 為所有的方法設定交易  -->
  <bean id="transactionAttributeSource"
        class="org.springframework.transaction.interceptor.NameMatchTransactionAttributeSource" >
    <property name="properties" >
      <props>
        <prop key="*" >PROPAGATION_REQUIRED</prop>
      </props>
    </property>    
  </bean>
  
  <!-- TransactionRun  -->
  <bean id="transactionRun"
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" >
    <property name="transactionManager" ref="jdbcTransactionManager" />  
    <property name="target" >
      <bean class="com.helloweenvsfei.dao.run.TransactionRun" >
        <property name="personDao" ref="personDAO" ></property>
      </bean>
    </property>   
    <property name="transactionAttributeSource" ref="transactionAttributeSource" ></property> 
  </bean>  
  
  
  
  
  
</beans> 